

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
<mat-card style="max-width:10%; margin-left: auto; margin-right: auto; margin-top: 15%;" >

  <mat-card-header>
    <mat-card-title>Ajout d'actualité</mat-card-title>
    <mat-card-subtitle>Fill this form</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <mat-form-field class="example-full-width" >
        <input matInput type="text" formControlName="titre" placeholder="Titre de l'article" required >
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width">
        <input matInput  type="text" formControlName="date" placeholder="Date" required>
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width">
        <input matInput  type="text" formControlName="contenu" placeholder="Contenu" required>
      </mat-form-field>
      <br>

      <button mat-raised-button color="primary" [disabled]="profileForm.invalid" type="submit">Créer l'actualité</button>

  </mat-card-content>

</mat-card>
</form>



