

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
<img src="../../assets/images/Capture4.PNG" alt="" style=" margin-left: 30%; width:20%; margin-top:15%; height : 500px;">
<mat-card style="max-width:18%; margin-top: -29.7%; margin-left:50%; height:470px; margin-bottom: 10%;;" >

  <mat-card-header>
    <div style="margin-left: 3%;"><h2 style="color: #048b9a;" >Ajouter une actualité</h2> </div>

  </mat-card-header>
  <mat-card-content>
      <mat-form-field class="example-full-width" style="width:100%;">
        <textarea matInput type="text" formControlName="titre" placeholder="Titre de l'article" required ></textarea>

      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width" style="width:100%;">
        <textarea matInput  type="text" formControlName="date" placeholder="Date" required></textarea>
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width" style="width:100%;">
        <textarea matInput  type="text" formControlName="contenu" placeholder="Contenu" required></textarea>
      </mat-form-field>
      <br>

      <button mat-raised-button style="background-color: #048b9a; width:35%; margin-left:33%" [disabled]="profileForm.invalid" type="submit">Créer</button>


  </mat-card-content>

</mat-card>
</form>



